# Ignore any .terraform folders anywhere
**/.terraform/

# Ignore all tfstate and backup state files anywhere
**/*.tfstate
**/*.tfstate.backup
# Ignore all PEM files anywhere in the repo
**/*.pem
# Ignore any .log files
**/*.log

# Optional: ignore crash logs
**/crash.log

# Optional: ignore Terraform variable files with secrets (if you ever use them)
**/*.tfvars